@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic);
body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	padding: 30px;
	opacity: 0;
}

.container div {
	width: 150px;
	height: 150px;
	padding: 20px;
	border-radius: 150px;
	background-color: #FF6E00;
	float: left;
	margin-right: 30px;
	margin-bottom: 50px;
	color: white;
	text-align: center;
	line-height: 75px;
	font-size: 20px;
}

#represent-value {
	margin-right: 25px;
}

#represent-variables{
	float: right;
}

#represent-value, #represent-variables, #represent-graph {
	display: inline-block;
	padding: 20px;
	border-radius: 7px;	
	background-color: #39E;
	color: #fff;
	width: 44%;
}

#represent-value, #represent-variables {
	min-height: 300px;
}

#main #represent-graph {
	width:96%; 
	margin-top: 35px;}
}

#represent-variables {
	float: right;
	margin-right: 30px;
}

#send {
	display: block;
	margin-top: 20px;
}

/***** By Juan *****/
.values{width: 100%; float: left;}
#main {width: 1000px; margin: 0 auto;}
.selected {color: #248; font-weight: 700;}